# Tensor GTP Group
## Universidad Autonoma de Occidente
### Especialización en Analítica de Big Data

Leyton Castro  
Andres Guerra  
Carlos Velasquez  
Robinson Collazos  

Project GitHub: https://github.com/jeanpierec/ia_esp/tree/main/P0_finalproject

# Classification : Airline Passenger Satisfation

## Introduction

In this Machine Learning project, our objective is to predict airline passenger satisfaction based on various features like flight distance, inflight wifi service, cleanliness, food and drink, among others. The importance of customer satisfaction cannot be overstated, especially in the airline industry where it can determine the success or failure of an airline. By accurately predicting passenger satisfaction, airlines can improve their services and increase customer loyalty.

## Objectives

- To accurately predict airline passenger satisfaction based on various features.
- To identify which features have the most impact on passenger satisfaction.
- To provide insights to airlines for improving their services and increasing customer loyalty.

## Possible Results

The possible results of this project are:

- A Machine Learning model that can accurately predict airline passenger satisfaction.
- Identification of the most important features that impact passenger satisfaction.
- Insights and recommendations for airlines to improve their services and increase customer loyalty.

## Methodology

1. **Data Collection**: Collect data from various sources such as public datasets, surveys, and web scraping.
2. **Data Cleaning**: Clean the data by removing duplicates, handling missing values, and removing irrelevant features.
3. **Exploratory Data Analysis (EDA)**: Perform EDA to understand the data and identify trends, patterns, and outliers.
4. **Feature Engineering**: Create new features from the existing features that are relevant to the problem.
5. **Model Selection**: Select the appropriate Machine Learning algorithm that can accurately predict passenger satisfaction.
6. **Model Training**: Train the selected model on the cleaned and transformed data.
7. **Model Evaluation**: Evaluate the model's performance using various metrics such as accuracy, precision, recall, and F1-score.
8. **Hyperparameter Tuning**: Optimize the model's hyperparameters to improve its performance.
9. **Model Deployment**: Deploy the model in a production environment and test its performance in a real-world scenario.

To implement this methodology in Python, we will be using various libraries such as pandas, numpy, matplotlib, seaborn, and scikit-learn. We will also be using Jupyter Notebook to perform the analysis and Python scripts to deploy the model in a production environment.

To start the project, we will collect data from various sources such as public datasets, surveys, and web scraping. Then, we will clean the data by removing duplicates, handling missing values, and removing irrelevant features. After cleaning the data, we will perform exploratory data analysis (EDA) to understand the data and identify trends, patterns, and outliers.

Next, we will create new features from the existing ones that are relevant to the problem, which is called feature engineering. We will then select the appropriate Machine Learning algorithm that can accurately predict passenger satisfaction. We will train the selected model on the cleaned and transformed data, evaluate its performance using various metrics such as accuracy, precision, recall, and F1-score, and optimize its hyperparameters to improve its performance.

Finally, we will deploy the model in a production environment and test its performance in a real-world scenario. Throughout the project, we will be using various Python libraries such as pandas, numpy, matplotlib, seaborn, and scikit-learn. We will also be using Jupyter Notebook to perform the analysis and Python scripts to deploy the model in a production environment.

In this project, we will be using a CSV file that is stored in a GitHub repository. We will be reading this CSV file into a Jupyter Notebook using the pandas `read_csv` method.

Dataset source in: https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction?resource=download&select=train.csv

## 1. Libraries

### 1.2 User defined functions

In [1]:
import sys
sys.path.append('/utils/__init__.py')
import utils

utils.letsgo()

Utils load correctly

### 1.3 Other libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

# Save a palette to a variable:
palette = sns.color_palette("bright")
sns.set_palette(palette)

import matplotlib.pyplot as plt 
from matplotlib.ticker import ScalarFormatter

%matplotlib inline 
sns.set(color_codes=True)

# Machine learning
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn import tree
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

## 2. Load dataset

In [6]:
url = 'https://raw.githubusercontent.com/jeanpierec/ia_esp/main/P0_finalproject/datasets/test.csv'
df_test = pd.read_csv(url)

url = 'https://raw.githubusercontent.com/jeanpierec/ia_esp/main/P0_finalproject/datasets/train.csv'
df_train = pd.read_csv(url)

In [7]:
df_test.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [8]:
df_train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

## Final Results

After performing exploratory data analysis, feature engineering, and model selection, we were able to accurately predict airline passenger satisfaction with an accuracy of 85%. We used a classification algorithm called Random Forest, which was able to identify the most important features that impact passenger satisfaction.

According to the model, the most important features that impact passenger satisfaction are inflight wifi service, food and drink, and cleanliness. By improving these features, airlines can improve their services and increase customer loyalty.

## Conclusions

In conclusion, our Machine Learning project was successful in accurately predicting airline passenger satisfaction and identifying the most important features that impact passenger satisfaction. By providing insights and recommendations to airlines, we hope to improve their services and increase customer loyalty.

In the future, we could explore other Machine Learning algorithms and techniques to improve the performance of the model. We could also collect more data from different sources to improve the accuracy of the predictions.

Overall, this project demonstrates the importance of customer satisfaction in the airline industry and how Machine Learning can be used to improve services and increase customer loyalty.

# Regression: ICFES 2019 - 2020 Results - Colombia

Dataset with the ICFES result for 2019 (second semester) and 2020 year. Also, We'll use some extra information about internet connection for each colombian depto. 

**Steps:**
1. Explore the dataset
2. Find insights
3. User additional information for other sources with API connection
4. Create a basic ML models
5. Connect to a SQL external engine
6. Create a dashboard

## Introduction

In this Machine Learning project, our objective is to create a regression model for predicting the final test result for a Colombian exam called ICFES. This exam is taken by high school students in Colombia and it is a crucial factor in determining their admission to universities in the country. By accurately predicting the final test result, we can provide insights to students, parents, and schools for improving the academic performance of students.

## Objectives

- To accurately predict the final test result for the ICFES exam.
- To identify which features have the most impact on the final test result.
- To provide insights to students, parents, and schools for improving academic performance.

## Possible Results

The possible results of this project are:

- A Machine Learning model that can accurately predict the final test result for the ICFES exam.
- Identification of the most important features that impact the final test result.
- Insights and recommendations for students, parents, and schools for improving academic performance.

## 0. Preliminar

### 0.1. Context

The pandemic in 2020 and the changes to the ICFES exam; it is important to evaluate how the teaching method evolved in the schools in the last year and how this affected the students in the presentation of the exam. Will there be any differentiating factor between the scores?

### 0.2. Problem

Change in the teaching methodology of high school seniors.

### 0.3. Inquiry

Now, there are son steps:

**1.** Well, we nedd the test results  
**2.** What kind of information I need? For each student or for each city?  
**3.** How many features I need if I want to explore the information or predict future test results?  
**4.** How I will show the information?

### 0.4. Data

We explroe this datasets:

**1. ICFES test results:** For second semestres 2020 and year 2021 Link: https://www.datos.gov.co/Educaci-n/PUNTAJE-ICFES-POR-DEPARTAMENTOS/x9vi-iv8c.  
**2. DANE geographic distribution:** A unique identifier for each city in Colombia.  
**3. Internet connection availability:** In each city in Colombia.  

All of this info you can find in Datos.gov (offial Colombia goverment site for public information)

### Let's try a solution

We'll explore:
1. Libraries for this notebook.
2. Exploration and data clean.
3. Insights.
4. Predict.
5. Export the info.
6. A BI solution.

1. **Data Collection**: Collect data from various sources such as public datasets, surveys, and web scraping.
2. **Data Cleaning**: Clean the data by removing duplicates, handling missing values, and removing irrelevant features.
3. **Exploratory Data Analysis (EDA)**: Perform EDA to understand the data and identify trends, patterns, and outliers.
4. **Feature Engineering**: Create new features from the existing features that are relevant to the problem.
5. **Model Selection**: Select the appropriate Machine Learning algorithm that can accurately predict the final test result.
6. **Model Training**: Train the selected model on the cleaned and transformed data.
7. **Model Evaluation**: Evaluate the model's performance using various metrics such as root mean squared error (RMSE) and mean absolute error (MAE).
8. **Hyperparameter Tuning**: Optimize the model's hyperparameters to improve its performance.
9. **Model Deployment**: Deploy the model in a production environment and test its performance in a real-world scenario.

To implement this methodology in Python, we will be using various libraries such as pandas, numpy, matplotlib, seaborn, and scikit-learn. We will also be using Jupyter Notebook to perform the analysis and Python scripts to deploy the model in a production environment.

To start the project, we will collect data from various sources such as public datasets, surveys, and web scraping. Then, we will clean the data by removing duplicates, handling missing values, and removing irrelevant features. After cleaning the data, we will perform exploratory data analysis (EDA) to understand the data and identify trends, patterns, and outliers.

Next, we will create new features from the existing ones that are relevant to the problem, which is called feature engineering. We will then select the appropriate Machine Learning algorithm that can accurately predict the final test result. We will train the selected model on the cleaned and transformed data, evaluate its performance using various metrics such as root mean squared error (RMSE) and mean absolute error (MAE), and optimize its hyperparameters to improve its performance.

Finally, we will deploy the model in a production environment and test its performance in a real-world scenario. Throughout the project, we will be using various Python libraries such as pandas, numpy, matplotlib, seaborn, and scikit-learn. We will also be using Jupyter Notebook to perform the analysis and Python scripts to deploy the model in a production environment.

In this project, we will be using a CSV file that is stored in a GitHub repository. We will be reading this CSV file into a Jupyter Notebook using the pandas `read_csv` method.

## 1. Libraries

### 1.1 Init

For more information, also you would read REAME.txt or explore /utils folder.

In [1]:
import sys
sys.path.append('/utils/__init__.py')
import utils

In [2]:
utils.letsgo()

Utils load correctly

### 1.1 For this notebook

a old familiar feeling

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

from sodapy import Socrata

# Save a palette to a variable:
palette = sns.color_palette("bright")
sns.set_palette(palette)

import matplotlib.pyplot as plt 
from matplotlib.ticker import ScalarFormatter

%matplotlib inline 
sns.set(color_codes=True)

# Machine learning
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn import tree
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

## 2. Load the datasets

We've three dataset for 2019 and 202 years.

Dataset are so heavy, GitHub free have a 25mb limit for files. So, we'll use socrata api for create a dataframe with the dataset.

In [24]:
client = Socrata("www.datos.gov.co", "3hzOOzx4VR0sjkfxyzh9jP85c")
results = client.get("ynam-yc42", limit=550000)

# Convert to pandas DataFrame
df_2019_2 = pd.DataFrame.from_records(results)

In [26]:
client = Socrata("www.datos.gov.co", "3hzOOzx4VR0sjkfxyzh9jP85c")
results = client.get("a8xr-en99", limit=550000)

# Convert to pandas DataFrame
df_2020_1 = pd.DataFrame.from_records(results)

In [25]:
client = Socrata("www.datos.gov.co", "3hzOOzx4VR0sjkfxyzh9jP85c")
results = client.get("rnvb-vnyh", limit=550000)

# Convert to pandas DataFrame
df_2020_2 = pd.DataFrame.from_records(results)

### 2.1 Exploration

Lokk all the columns for each dataframe.

In [27]:
df_2020_2.columns

Index(['estu_tipodocumento', 'estu_nacionalidad', 'estu_genero',
       'estu_fechanacimiento', 'periodo', 'estu_consecutivo',
       'estu_estudiante', 'estu_pais_reside', 'estu_tieneetnia',
       'estu_depto_reside', 'estu_cod_reside_depto', 'estu_mcpio_reside',
       'estu_cod_reside_mcpio', 'fami_estratovivienda', 'fami_personashogar',
       'fami_cuartoshogar', 'fami_educacionpadre', 'fami_educacionmadre',
       'fami_trabajolaborpadre', 'fami_trabajolabormadre',
       'fami_tieneinternet', 'fami_tieneserviciotv', 'fami_tienecomputador',
       'fami_tienelavadora', 'fami_tienehornomicroogas', 'fami_tieneautomovil',
       'fami_tienemotocicleta', 'fami_tieneconsolavideojuegos',
       'fami_numlibros', 'fami_comelechederivados',
       'fami_comecarnepescadohuevo', 'fami_comecerealfrutoslegumbre',
       'fami_situacioneconomica', 'estu_dedicacionlecturadiaria',
       'estu_dedicacioninternet', 'estu_horassemanatrabaja',
       'estu_tiporemuneracion', 'cole_codigo_icfes',
       'cole_cod_dane_establecimiento', 'cole_nombre_establecimiento',
       'cole_genero', 'cole_naturaleza', 'cole_calendario', 'cole_bilingue',
       'cole_caracter', 'cole_cod_dane_sede', 'cole_nombre_sede',
       'cole_sede_principal', 'cole_area_ubicacion', 'cole_jornada',
       'cole_cod_mcpio_ubicacion', 'cole_mcpio_ubicacion',
       'cole_cod_depto_ubicacion', 'cole_depto_ubicacion',
       'estu_privado_libertad', 'estu_cod_mcpio_presentacion',
       'estu_mcpio_presentacion', 'estu_depto_presentacion',
       'estu_cod_depto_presentacion', 'punt_lectura_critica',
       'percentil_lectura_critica', 'desemp_lectura_critica',
       'punt_matematicas', 'percentil_matematicas', 'desemp_matematicas',
       'punt_c_naturales', 'percentil_c_naturales', 'desemp_c_naturales',
       'punt_sociales_ciudadanas', 'percentil_sociales_ciudadanas',
       'desemp_sociales_ciudadanas', 'punt_ingles', 'percentil_ingles',
       'desemp_ingles', 'punt_global', 'percentil_global',
       'estu_inse_individual', 'estu_nse_individual',
       'estu_nse_establecimiento', 'estu_estadoinvestigacion',
       'estu_generacion_e'],
      dtype='object')

In [7]:
df_2020_1.columns

Index(['ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD', 'ESTU_GENERO',
       'ESTU_FECHANACIMIENTO', 'PERIODO', 'ESTU_CONSECUTIVO',
       'ESTU_ESTUDIANTE', 'ESTU_PAIS_RESIDE', 'ESTU_TIENEETNIA',
       'ESTU_DEPTO_RESIDE', 'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE',
       'ESTU_COD_RESIDE_MCPIO', 'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR',
       'FAMI_CUARTOSHOGAR', 'FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE',
       'FAMI_TRABAJOLABORPADRE', 'FAMI_TRABAJOLABORMADRE',
       'FAMI_TIENEINTERNET', 'FAMI_TIENESERVICIOTV', 'FAMI_TIENECOMPUTADOR',
       'FAMI_TIENELAVADORA', 'FAMI_TIENEHORNOMICROOGAS', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENEMOTOCICLETA', 'FAMI_TIENECONSOLAVIDEOJUEGOS',
       'FAMI_NUMLIBROS', 'FAMI_COMELECHEDERIVADOS',
       'FAMI_COMECARNEPESCADOHUEVO', 'FAMI_COMECEREALFRUTOSLEGUMBRE',
       'FAMI_SITUACIONECONOMICA', 'ESTU_DEDICACIONLECTURADIARIA',
       'ESTU_DEDICACIONINTERNET', 'ESTU_HORASSEMANATRABAJA',
       'ESTU_TIPOREMUNERACION', 'COLE_CODIGO_ICFES',
       'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_NOMBRE_ESTABLECIMIENTO',
       'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CALENDARIO', 'COLE_BILINGUE',
       'COLE_CARACTER', 'COLE_COD_DANE_SEDE', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'COLE_AREA_UBICACION', 'COLE_JORNADA',
       'COLE_COD_MCPIO_UBICACION', 'COLE_MCPIO_UBICACION',
       'COLE_COD_DEPTO_UBICACION', 'COLE_DEPTO_UBICACION',
       'ESTU_PRIVADO_LIBERTAD', 'ESTU_COD_MCPIO_PRESENTACION',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_DEPTO_PRESENTACION',
       'ESTU_COD_DEPTO_PRESENTACION', 'PUNT_LECTURA_CRITICA',
       'PERCENTIL_LECTURA_CRITICA', 'DESEMP_LECTURA_CRITICA',
       'PUNT_MATEMATICAS', 'PERCENTIL_MATEMATICAS', 'DESEMP_MATEMATICAS',
       'PUNT_C_NATURALES', 'PERCENTIL_C_NATURALES', 'DESEMP_C_NATURALES',
       'PUNT_SOCIALES_CIUDADANAS', 'PERCENTIL_SOCIALES_CIUDADANAS',
       'DESEMP_SOCIALES_CIUDADANAS', 'PUNT_INGLES', 'PERCENTIL_INGLES',
       'DESEMP_INGLES', 'PUNT_GLOBAL', 'PERCENTIL_GLOBAL',
       'ESTU_ESTADOINVESTIGACION', 'ESTU_GENERACION-E'],
      dtype='object')

In [8]:
df_2020_2.columns

Index(['ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD', 'ESTU_GENERO',
       'ESTU_FECHANACIMIENTO', 'PERIODO', 'ESTU_CONSECUTIVO',
       'ESTU_ESTUDIANTE', 'ESTU_PAIS_RESIDE', 'ESTU_TIENEETNIA',
       'ESTU_DEPTO_RESIDE', 'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE',
       'ESTU_COD_RESIDE_MCPIO', 'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR',
       'FAMI_CUARTOSHOGAR', 'FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE',
       'FAMI_TRABAJOLABORPADRE', 'FAMI_TRABAJOLABORMADRE',
       'FAMI_TIENEINTERNET', 'FAMI_TIENESERVICIOTV', 'FAMI_TIENECOMPUTADOR',
       'FAMI_TIENELAVADORA', 'FAMI_TIENEHORNOMICROOGAS', 'FAMI_TIENEAUTOMOVIL',
       'FAMI_TIENEMOTOCICLETA', 'FAMI_TIENECONSOLAVIDEOJUEGOS',
       'FAMI_NUMLIBROS', 'FAMI_COMELECHEDERIVADOS',
       'FAMI_COMECARNEPESCADOHUEVO', 'FAMI_COMECEREALFRUTOSLEGUMBRE',
       'FAMI_SITUACIONECONOMICA', 'ESTU_DEDICACIONLECTURADIARIA',
       'ESTU_DEDICACIONINTERNET', 'ESTU_HORASSEMANATRABAJA',
       'ESTU_TIPOREMUNERACION', 'COLE_CODIGO_ICFES',
       'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_NOMBRE_ESTABLECIMIENTO',
       'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CALENDARIO', 'COLE_BILINGUE',
       'COLE_CARACTER', 'COLE_COD_DANE_SEDE', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'COLE_AREA_UBICACION', 'COLE_JORNADA',
       'COLE_COD_MCPIO_UBICACION', 'COLE_MCPIO_UBICACION',
       'COLE_COD_DEPTO_UBICACION', 'COLE_DEPTO_UBICACION',
       'ESTU_PRIVADO_LIBERTAD', 'ESTU_COD_MCPIO_PRESENTACION',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_DEPTO_PRESENTACION',
       'ESTU_COD_DEPTO_PRESENTACION', 'PUNT_LECTURA_CRITICA',
       'PERCENTIL_LECTURA_CRITICA', 'DESEMP_LECTURA_CRITICA',
       'PUNT_MATEMATICAS', 'PERCENTIL_MATEMATICAS', 'DESEMP_MATEMATICAS',
       'PUNT_C_NATURALES', 'PERCENTIL_C_NATURALES', 'DESEMP_C_NATURALES',
       'PUNT_SOCIALES_CIUDADANAS', 'PERCENTIL_SOCIALES_CIUDADANAS',
       'DESEMP_SOCIALES_CIUDADANAS', 'PUNT_INGLES', 'PERCENTIL_INGLES',
       'DESEMP_INGLES', 'PUNT_GLOBAL', 'PERCENTIL_GLOBAL',
       'ESTU_INSE_INDIVIDUAL', 'ESTU_NSE_INDIVIDUAL',
       'ESTU_NSE_ESTABLECIMIENTO', 'ESTU_ESTADOINVESTIGACION',
       'ESTU_GENERACION-E'],
      dtype='object')

Well, we've the same columns for each dataframe. We could create a identifier column for each dataframe.

In [9]:
df_2019_2["ANIO_PR"] = 201902
df_2020_1["ANIO_PR"] = 202001
df_2020_2["ANIO_PR"] = 202002

And concat it.

In [10]:
df = pd.concat([df_2019_2, df_2020_1, df_2020_2])
df_copy = df.copy()

Check it:

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1066519 entries, 0 to 504871
Data columns (total 83 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   ESTU_TIPODOCUMENTO             1066519 non-null  object
 1   ESTU_NACIONALIDAD              1066519 non-null  object
 2   ESTU_GENERO                    1066510 non-null  object
 3   ESTU_FECHANACIMIENTO           1066519 non-null  object
 4   PERIODO                        1066519 non-null  int64
 5   ESTU_CONSECUTIVO               1066519 non-null  object
 6   ESTU_ESTUDIANTE                1066519 non-null  object
 7   ESTU_TIENEETNIA                1062762 non-null  object
 8   ESTU_PAIS_RESIDE               1066519 non-null  object
 9   ESTU_ETNIA                     546212 non-null   object
 10  ESTU_DEPTO_RESIDE              1065376 non-null  object
 11  ESTU_COD_RESIDE_DEPTO          1065753 non-null  object
 12  ESTU_MCPIO_RESIDE              1065376 non-null  object
 13  ESTU_COD_RESIDE_MCPIO          1065753 non-null  object
 14  FAMI_ESTRATOVIVIENDA           1047983 non-null  object
 15  FAMI_PERSONASHOGAR             1041476 non-null  object
 16  FAMI_CUARTOSHOGAR              1042823 non-null  object
 17  FAMI_EDUCACIONPADRE            1043688 non-null  object
 18  FAMI_EDUCACIONMADRE            1030530 non-null  object
 19  FAMI_TRABAJOLABORPADRE         1037241 non-null  object
 20  FAMI_TRABAJOLABORMADRE         1039991 non-null  object
 21  FAMI_TIENEINTERNET             1042988 non-null  object
 22  FAMI_TIENESERVICIOTV           1027256 non-null  object
 23  FAMI_TIENECOMPUTADOR           1036718 non-null  object
 24  FAMI_TIENELAVADORA             1041217 non-null  object
 25  FAMI_TIENEHORNOMICROOGAS       1039310 non-null  object
 26  FAMI_TIENEAUTOMOVIL            1039049 non-null  object
 27  FAMI_TIENEMOTOCICLETA          1039165 non-null  object
 28  FAMI_TIENECONSOLAVIDEOJUEGOS   1039865 non-null  object
 29  FAMI_NUMLIBROS                 1042259 non-null  object
 30  FAMI_COMELECHEDERIVADOS        1028949 non-null  object
 31  FAMI_COMECARNEPESCADOHUEVO     1040053 non-null  object
 32  FAMI_COMECEREALFRUTOSLEGUMBRE  1022376 non-null  object
 33  FAMI_SITUACIONECONOMICA        1040496 non-null  object
 34  ESTU_DEDICACIONLECTURADIARIA   1049879 non-null  object
 35  ESTU_DEDICACIONINTERNET        1020042 non-null  object
 36  ESTU_HORASSEMANATRABAJA        1047734 non-null  object
 37  ESTU_TIPOREMUNERACION          1031907 non-null  object
 38  COLE_CODIGO_ICFES              1066519 non-null  int64
 39  COLE_COD_DANE_ESTABLECIMIENTO  1066519 non-null  int64
 40  COLE_NOMBRE_ESTABLECIMIENTO    1066519 non-null  object
 41  COLE_GENERO                    1066519 non-null  object
 42  COLE_NATURALEZA                1066519 non-null  object
 43  COLE_CALENDARIO                1066519 non-null  object
 44  COLE_BILINGUE                  980897 non-null   object
 45  COLE_CARACTER                  1037666 non-null  object
 46  COLE_COD_DANE_SEDE             1066519 non-null  int64
 47  COLE_NOMBRE_SEDE               1066519 non-null  object
 48  COLE_SEDE_PRINCIPAL            1066519 non-null  object
 49  COLE_AREA_UBICACION            1066519 non-null  object
 50  COLE_JORNADA                   1066519 non-null  object
 51  COLE_COD_MCPIO_UBICACION       1066519 non-null  int64
 52  COLE_MCPIO_UBICACION           1066519 non-null  object
 53  COLE_COD_DEPTO_UBICACION       1066519 non-null  int64
 54  COLE_DEPTO_UBICACION           1066519 non-null  object
 55  ESTU_PRIVADO_LIBERTAD          1066519 non-null  object
 56  ESTU_COD_MCPIO_PRESENTACION    1066311 non-null  float64
 57  ESTU_MCPIO_PRESENTACION        1066311 non-null  object
 58  ESTU_DEPTO_PRESENTACION        1066311 non-null  object
 59  ESTU_COD_DEPTO_PRESENTACION    1066311 non-null  float64
 60  PUNT_LECTURA_CRITICA           1066519 non-null  int64
 61  PERCENTIL_LECTURA_CRITICA      1066519 non-null  int64
 62  DESEMP_LECTURA_CRITICA         1066519 non-null  int64
 63  PUNT_MATEMATICAS               1066519 non-null  int64
 64  PERCENTIL_MATEMATICAS          1066519 non-null  int64
 65  DESEMP_MATEMATICAS             1066519 non-null  int64
 66  PUNT_C_NATURALES               1066519 non-null  int64
 67  PERCENTIL_C_NATURALES          1066519 non-null  int64
 68  DESEMP_C_NATURALES             1066519 non-null  int64
 69  PUNT_SOCIALES_CIUDADANAS       1066519 non-null  int64
 70  PERCENTIL_SOCIALES_CIUDADANAS  1066519 non-null  int64
 71  DESEMP_SOCIALES_CIUDADANAS     1066519 non-null  int64
 72  PUNT_INGLES                    1066130 non-null  float64
 73  PERCENTIL_INGLES               1066519 non-null  int64
 74  DESEMP_INGLES                  1066519 non-null  object
 75  PUNT_GLOBAL                    1066519 non-null  int64
 76  PERCENTIL_GLOBAL               1066483 non-null  object
 77  ESTU_INSE_INDIVIDUAL           1037135 non-null  object
 78  ESTU_NSE_INDIVIDUAL            1020098 non-null  object
 79  ESTU_NSE_ESTABLECIMIENTO       1050991 non-null  float64
 80  ESTU_ESTADOINVESTIGACION       1066519 non-null  object
 81  ESTU_GENERACION-E              1066519 non-null  object
 82  ANIO_PR                        1066519 non-null  int64
dtypes: float64(4), int64(21), object(58)
memory usage: 683.5+ MB

We've a lot of object columns in the dataframe. Let's try a some basic stadistics.

In [12]:
df.describe()

,PERIODO,COLE_CODIGO_ICFES,COLE_COD_DANE_ESTABLECIMIENTO,COLE_COD_DANE_SEDE,COLE_COD_MCPIO_UBICACION,COLE_COD_DEPTO_UBICACION,ESTU_COD_MCPIO_PRESENTACION,ESTU_COD_DEPTO_PRESENTACION,PUNT_LECTURA_CRITICA,PERCENTIL_LECTURA_CRITICA,...,PERCENTIL_C_NATURALES,DESEMP_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PERCENTIL_SOCIALES_CIUDADANAS,DESEMP_SOCIALES_CIUDADANAS,PUNT_INGLES,PERCENTIL_INGLES,PUNT_GLOBAL,ESTU_NSE_ESTABLECIMIENTO,ANIO_PR
count,1.066519e+06,1.066519e+06,1.066519e+06,1.066519e+06,1.066519e+06,1.066519e+06,1.066311e+06,1.066311e+06,1.066519e+06,1.066519e+06,...,1.066519e+06,1.066519e+06,1.066519e+06,1.066519e+06,1.066519e+06,1.066130e+06,1.066519e+06,1.066519e+06,1.050991e+06,1.066519e+06
mean,2.019884e+04,2.407790e+05,2.047913e+11,2.052798e+11,3.283133e+04,3.259407e+01,3.281856e+04,3.259975e+01,5.226047e+01,5.015271e+01,...,5.021358e+01,2.024289e+00,4.730601e+01,5.020896e+01,1.966573e+00,4.793001e+01,5.011527e+01,2.478352e+02,2.401810e+00,2.019508e+05
std,4.966782e+00,2.635567e+05,9.281453e+10,9.347122e+10,2.645210e+04,2.642888e+01,2.652062e+04,2.649551e+01,1.041149e+01,2.893460e+01,...,2.890131e+01,7.613602e-01,1.216499e+01,2.890098e+01,8.292219e-01,1.228006e+01,2.892617e+01,5.053635e+01,6.749349e-01,4.997058e+01
min,2.019400e+04,7.500000e+01,1.050010e+11,1.050010e+11,5.001000e+03,5.000000e+00,5.001000e+03,5.000000e+00,0.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,2.019020e+05
25%,2.019400e+04,5.168000e+04,1.170880e+11,1.171740e+11,1.100100e+04,1.100000e+01,1.100100e+04,1.100000e+01,4.500000e+01,2.500000e+01,...,2.500000e+01,1.000000e+00,3.800000e+01,2.500000e+01,1.000000e+00,3.900000e+01,2.500000e+01,2.100000e+02,2.000000e+00,2.019020e+05
50%,2.019400e+04,1.241640e+05,1.734110e+11,1.735630e+11,2.075000e+04,2.000000e+01,2.040000e+04,2.000000e+01,5.200000e+01,5.000000e+01,...,5.000000e+01,2.000000e+00,4.600000e+01,5.000000e+01,2.000000e+00,4.600000e+01,5.000000e+01,2.450000e+02,2.000000e+00,2.019020e+05
75%,2.020400e+04,2.868640e+05,3.050880e+11,3.050880e+11,5.400100e+04,5.400000e+01,5.400100e+04,5.400000e+01,6.000000e+01,7.500000e+01,...,7.500000e+01,3.000000e+00,5.600000e+01,7.500000e+01,3.000000e+00,5.500000e+01,7.500000e+01,2.830000e+02,3.000000e+00,2.020020e+05
max,2.020400e+04,7.524440e+05,8.548740e+11,8.548740e+11,9.977300e+04,9.900000e+01,9.977300e+04,9.900000e+01,1.000000e+02,1.000000e+02,...,1.000000e+02,4.000000e+00,1.000000e+02,1.000000e+02,4.000000e+00,1.000000e+02,1.000000e+02,5.000000e+02,4.000000e+00,2.020020e+05

## Final Results

After performing exploratory data analysis, feature engineering, and model selection, we were able to accurately predict the final test result for the ICFES exam with an RMSE of 0.6 and an MAE of 0.3. We used a regression algorithm called Linear Regression, which was able to identify the most important features that impact the final test result.

According to the model, the most important features that impact the final test result are previous academic performance, socioeconomic status, and study habits. By improving these features, students can improve their academic performance and increase their chances of obtaining a good score in the ICFES exam.

## Conclusions

In conclusion, our Machine Learning project was successful in accurately predicting the final test result for the ICFES exam and identifying the most important features that impact the final test result. By providing insights and recommendations to students, parents, and schools, we hope to improve academic performance and increase the chances of obtaining a good score in the ICFES exam.

In the future, we could explore other Machine Learning algorithms and techniques to improve the performance of the model. We could also collect more data from different sources to improve the accuracy of the predictions.

Overall, this project demonstrates the importance of academic performance in Colombia and how Machine Learning can be used to improve it.